@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-weight: 600;
}

body {
  background-image: url('https://images.unsplash.com/photo-1501785888041-af3ef285b470?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  width: 100%;
  height: 100dvh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100dvh;
  background: rgb(0, 0, 0, 0.15 );
  backdrop-filter: blur(10px);
}

/*UTILITIES*/
.regular-txt {
font-weight: 400;
}
/*EN UTILITIES*/

.main-container {
  width: 300px;
  height: 495px;
  z-index: 1;
  background: linear-gradient(to top, rgb(0,0,0,0.15), rgb(255, 255,255, 0.15));
  border-radius: 12px;
  backdrop-filter: blur(60px);
  padding: 20px;
}


/* Input Container */
.city-input {
  width: 100%;
  padding: 10px 16px;
  border-radius: 90px;
  border: 3px solid transparent;
  background: rgb(0, 0, 0, 0.15);
  outline: none;
  font-weight: 500;
  transition: 0.25s border;
  padding-right: 45px;
}

.city-input:focus{
border: 3px solid rgb(0, 0, 0, 0.15);
}

.city-input::placeholder {
  color: rgba(255, 255, 255, 0.75);
}

.search-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  display: flex;
  border: none;
  cursor: pointer;
}

.input-container{
  position: relative;
  margin-bottom: 25px;
}

/* End Input Container*/
/*SECION: WEATHER INFO*/

.weather-info {
  
display: flex;
flex-direction: column;
gap: 25px;

}

.location-date-container {
display: flex;
justify-content: space-between;
align-items: center;
}

.location {
  display: flex;
  align-items: center;
  gap: 6px;
}

.wheater-summary-container {
  display: flex;
  justify-content: space-between;
align-items: center;
}

.weather-summary-img{
width: 120px;
height: 120px;
}

.wheater-summary-info{
text-align: end;
}

.weather-conditions-container {
display: flex;
justify-content: space-between;

}
.condition-item {
  display: flex;
  align-items: center;
  gap: 6px;
}


.condition-item span {
  font-size: 30px;
}

.forecast-items-container {
  display: flex;
  gap: 15px;
overflow-x: scroll;
  padding-bottom: 12px;
}


.forecast-items-container::-webkit-scrollbar  {
height: 8px;
}

.forecast-items-container::-webkit-scrollbar-track {
  background: rgb(0, 0, 0, 0.1);
  border-radius: 99px;
}

.forecast-items-container::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0, 0.15);
  border-radius: 99px;

}

.forecast-item {
min-width: 70px;
background: rgb(255, 255, 255, 0.1);
display: flex;
flex-direction: column;
gap: 6px;
padding: 10px;
align-items: center;
border-radius: 12px;
transition: 0.3s ease-in-out;
}

.forecast-item:hover {
  background: rgb(0, 0, 0, 0.15);
}
.forecast-item-img {
width: 35px;
height: 35px;

}
/*END SECION: WEATHER INFO*/

/*SECTION: MESSAGE*/

.section-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
  margin-top: 25px;

}

.section-message img {
  height: 100px;
  width: fit-content;
}



/* end SECTION: MESSAGE*/
